<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- This is only for the REAL robot. This is the driver that interfaces with the ROS topics and the hardware-->
    <node   name="Jetbot_move_node"
            pkg="my_jetbot"
            type="jetbot_move.py"
            respawn="false"
            output="screen"
            args="">
    </node>

</launch>
